body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.fixedPadding{
    padding: 100px 0;
}
img{
    max-width: 100%;
}
:root{
    --bg-color:  linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.btn{
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--bg-color);
    transition: .4s;
    border: 1px solid var(--bg-color);
    animation: gradientMove 4s ease infinite;
    background-size: 300% 300%;
}
.btn:hover{
    transform: scale(1.05);
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p{
    color: #fff;
    opacity: 0.7;
}
/* header section */

.headerSection{
    background-color: #1A0B2E;
    color: #fff;
    border-bottom: 1px solid #412567;
}
.headerSection nav a{
    color: #fff;
    transition: .4s;
    
}
.headerSection nav a:hover{
    color:rgba(251, 9, 180, 1);
}
.headerSection .mobileHeader{
    display: none;
}

/* banner Section */

.bannerSection{
    background: url(./imgs/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    color: #fff;
}
.bannerSection .innerImage .heroCircle{
    width: 400px;
}
/* .bannerSection .innerImage::after {
	content: 'NEW';
	padding: 4px 15px;
	border-radius: 30px;
	position: absolute;
	top: 28px;
	right: 36%;
	background-color: #00FF88;
	z-index: 99;
	color: #1A0B2E;
	font-weight: 600;
	font-size: 18px;
} */
.bannerSection .innerImage .icon{
    font-size: 18px;
    background-color: #00FF88;
	z-index: 99;
	color: #1A0B2E;
	font-weight: 600;
    padding: 4px 15px;
	border-radius: 30px;
    top: 28px;
	right: 36%;
}
.bannerSection .innerImage .heromic{
    width: 150px;
}
.bannerSection .innerImage{
    top: -30px;
}
.bannerSection .text h1{
    font-size: 60px;
    font-weight: 800;
}
.bannerSection .text p{
    font-weight: 400;
    padding-bottom: 20px;
}
.bannerSection .text .btn2{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 9px 20px;
}
.bannerSection .buttons span {
	margin-right: 5px;
	position: relative;
	top: 2px;
}




/* about Section */

.aboutSection{
    background-color: rgba(26, 11, 46, 1);
    color: #fff;
}
.fixedText h1{
    font-size: 48px;
    font-weight: 700;
}
.fixedText p{
    line-height: 28px;
}
.aboutSection .fixedText p {
	width: 70%;
	margin: 0 auto;
}

.aboutSection .items{
    border-top: 1px solid #412567;
}
.aboutSection .item h1{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.aboutSection .item span{
    font-size: 38px;
}
.aboutSection .item p{
    font-weight: 400;
}

.aboutSection .items{
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}


/* whyChoose Section */

.whyChooseSection{
    background-color: #230e3d;
    color: #fff;
}
.whyChooseSection .item{
    padding: 40px 45px;
    background-color: #2a0f4d;
    border-radius: 35px;
}
.whyChooseSection .items{
    display: grid;
    grid-template-areas: 
    'audio mobile mobile'
    'audio global global'
    'interviews interviews resources';
    gap: 30px;
      box-sizing: border-box;
}
.whyChooseSection .item{
    align-content: center;
    box-sizing: border-box;
}
.whyChooseSection .audio{
    grid-area: audio;
}
.whyChooseSection .mobile{
    grid-area: mobile;
}
.whyChooseSection .global{
    grid-area: global;
}
.whyChooseSection .interviews{
    grid-area: interviews;
}
.whyChooseSection .resources{
    grid-area: resources;
}


.whyChooseSection .item img{
    width: auto;
    height: 60px;
}
.whyChooseSection .item h2{
    font-size: 24px;
    font-weight: 700;
}
.whyChooseSection .item p{
    opacity: 0.6;
}




/* feature Section */

.featureSection{
    background-color: #1a0b2e;
    color: #fff;
}
.featureSection .items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.featureSection .item{
    background-color: #250d44;
    border-radius: 24px;
}
.featureSection .item iframe{
    border-radius: 24px 24px 0 0;
}
.featureSection .item .text{
    color: #fff;
    padding: 24px;
}
.featureSection .item h2{
    font-size: 24px;
    font-weight: 700;
}
.featureSection .item p{
    line-height: 24px;
    opacity: 0.6;
}
.featureSection .item .time{
    display: flex;
}
.featureSection .item .time img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: 3px;
}
.featureSection .item .time p{
    font-size: 16px;
    font-weight: 600;
    color: #01ff88;
    opacity: 1;
}




/* meet Section */

.meetSection{
    background-color: #1a0b2e;
    color: #fff;
    padding-top: 0;
}
.meetSection .mainContent{
    background-color: #250e44;
    padding: 40px;
    border-radius: 40px;
}
.meetSection .mainContent h2{
    font-size: 32px;
    font-weight: 700;
}
.meetSection .mainContent p{
    opacity: 0.6;
}
.meetSection .hostImage {
	width: 500px;
}
.meetSection .mainContent ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #412567;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.meetSection .mainContent ul li:hover{
    background-color: #412567;
}

/* footer Section */

.footerSection{
    color: #fff;
    background: url(./imgs/footer-bg.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerSection .logo {
	display: flex;
    justify-content: center;
}
.footerSection ul{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    /* grid-template-columns: repeat(4, 1fr); */
}
.footerSection ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.footerSection span{
    opacity: .6;
    transition: .4s;
}
.footerSection ul li span:hover{
    color:rgba(251, 9, 180, 1);
}
.footerSection ul li a img{
    margin-right: 10px;
}





/* responsive css */

@media (max-width:1250px){
    .container{
        width: 90%;
    }
    .fixedPadding{
        padding: 70px 0;
    }
    .bannerSection .innerImage .heroCircle {
	width: auto;
}
.bannerSection .innerImage .heromic {
	width: auto;
}
.bannerSection .innerImage .icon {
	right: 29%;
}

.footerSection .logo img{
    width: 250px;
}
.aboutSection .fixedText p {
	width: 100%;
}

}
@media (max-width:992px){
    .bannerSection .innerImage .icon {
	right: 21%;
}
.whyChooseSection .item {
	padding: 40px;
}
.featureSection .items {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;
}
.meetSection .image {
	width: 100%;
}
.footerSection ul {
	flex-wrap: wrap;
    gap: 10px;
}
}
@media (max-width:776px){
    .bannerSection {
	padding: 90px;
}
.bannerSection .innerImage .heroCircle {
	width: 300px;
}
.bannerSection .innerImage .heromic {
	width: 100px;
}
.bannerSection .innerImage {
	top: 0px;
}
.bannerSection .innerImage .icon {
	right: 21%;
}
.aboutSection .items {
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
}
.whyChooseSection .item {
	padding: 24px;
}
.meetSection .mainContent {
	flex-direction: column;
    text-align: center;
}
.meetSection .mainContent ul{
    justify-content: center;
}
.meetSection .mainContent .hostImage{
    width: 200px;
    margin: 0 auto;
}
}

@media (max-width:576px){
    .headerSection .header{
        display: none;
    }
    .headerSection .mobileHeader{
        display: block;
    }
    .bannerSection .innerImage .heroCircle {
	width: 250px;
}
.bannerSection .innerImage .heromic {
	width: 70px;
}
.bannerSection {
	padding: 0px;
}
.bannerSection .innerImage {
	top: 60px;
    margin-bottom: 70px;
}
.bannerSection .text h1 {
	font-size: 50px;
}
.fixedText h1 {
	font-size: 35px;
    margin-bottom: 10px;
}
.aboutSection .fixedText p {
	padding-top: 10px;
}
.aboutSection .items {
	padding: 0;
    padding-top: 30px;
}
.fixedPadding {
	padding: 50px 0;
}
.whyChooseSection .items {
	display: grid;
	grid-template-areas: 
    'audio' 
    'mobile' 
    'global'
    'interviews'
    'resources';
	gap: 30px;
	box-sizing: border-box;
}
.featureSection .item .text {
	padding: 15px;
}
.meetSection .mainContent .hostImage{
    width: 150px;
}
.meetSection .mainContent {
	padding: 24px;
    border-radius: 24px;
}
.footerSection.fixedPadding {
	padding: 40px 0;
}
.headerSection .logo img {
	width: 200px;
}
.headerSection .mobileIcon img {
	width: 25px;
}
}